<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h2>Book List</h2>

<table>

    <tr>

        <th>Id</th>
        <th>Title</th>
        <th>Publisher</th>

    </tr>

    <tr th:each="book :${books}">

        <td th:text="${book.id}">1 ID</td>
        <td th:text="${book.title}">2 Title</td>
        <td th:text="${book.publisher.name}">3 Publisher Name</td>

    </tr>

</table>

</body>
</html>